{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [proto-repl "0.3.1"]
                [org.clojure/clojurescript "1.10.238"]
                [reagent "0.8.0"]]

 :nrepl        {:port 7888}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [tictactoe.core]}}

        :devtools
        {:after-load  tictactoe.core/main
         :http-root   "public"
         :http-port   3000
         :preloads    [shadow.cljs.devtools.client.hud]}}}}
